$primary-color: #333
$text-color: #FFF

.button
    background-color: $primary-color
    color: $text-color
    padding: 5px 15px
    border-radius: 5px
    cursor: pointer

.button:hover
    background-color: #444